 
        <form action="{{ path('app_login')}}" method="post">
          {% if error is defined and error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          {% if app.user %}
            <div class="mb-3">
              Vous êtes actuellement connecté en tant que 
              {{ app.user.username }},
              <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
          {% endif %}

          <label for="inputEmail">Adresse email</label>
          <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required="required" autofocus="autofocus">
          
          <label class="mt-3" for="inputPassword">Mot de passe</label>
          <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required="required">
          {# <a href="{{ path ('app_forgot_password_request') }}"><small>Mot de passe oublié ?</small></a> #}

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

          {#
          Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
          See https://symfony.com/doc/current/security/remember_me.html

          <div class="checkbox mb-3">
              <label>
                <input type="checkbox" name="_remember_me"> Remember me
              </label>
          </div>
          #}

          <div class="my-3 text-center">
          <a href="{{ path ('app_register') }}">Vous n'avez pas encore de compte ? Enregistrez-vous !</a>
          </div>

