{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<section class="articles">

    {% for article in articles %}
        <article>
            <h2> {{ article.title }} </h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie Europe</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt=""> <br>
                {{ article.content | u.truncate(250, '...', false) | raw }} <br>
                <a href="{{ path('article_show', { 'id': article.id }) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
    {% endfor %}


</section>

{% endblock %}
